body {
    height: 512px;
    width: 408px;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    border-radius: 20px;
}

mark {
    background: #22c55e;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

#TP {
    position: absolute;
    height: 498px;
    width: 394px;
    margin: 7px;
    border: 1px solid darkgray;
    background-color: darkgray;
    opacity: 0.6;
    border-radius: 20px;
}

#about {
    height: 16px;
    width: 196px;
    text-align: center;
    padding: 2px;
    border-left: 1px solid darkgray;
    font-weight: bold;
    user-select: none;
}

#home {
    height: 16px;
    width: 196px;
    text-align: center;
    padding: 2px;
    border-right: 1px solid darkgray;
    font-weight: bold;
    user-select: none;
}

#about:hover {
    border: 1px solid black;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

#home:hover {
    border: 1px solid black;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

#MB {
    position: absolute;
    height: 498px;
    width: 394px;
    margin: 7px;
    display: block;
}

#BD {
    height: max-content;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

#HD {
    height: max-content;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

#EH {
    color: white;
}

#NB {
    display: flex;
    width: 100%;
    height: 20px;
    border: 1px solid darkgray;
    background-color: antiquewhite;
    border-radius: 7px;
}

#BG {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    background-color: antiquewhite;
}

#SD {
    border: 1px solid black;
    border-radius: 15px;
    outline: 1px solid black;
    text-align: center;
    user-select: none;
    font-size: large;
}


#LSD {
    color: black;
    padding-right: 5px
}

#HNI {
    border: 1px solid black;
    border-radius: 15px;
    outline: 1px solid black;
    text-align: center;
    user-select: none;
    font-size: large;
}

#FT {
    background-color: white;
    margin: 6px;
    border-radius: 20px;
}

#R {
    margin: 8px;
    overflow: auto;
    max-height: 290px;
}

#SM {
    margin: 5px;
    margin-right: 7px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
}

#SM:hover {
    background-color: rgb(228, 217, 202);
}

#bar1 {
    height: 304px;
    width: 128px;
    background-color: rgb(213, 206, 88);
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    margin-right: 6px;
    margin-left: 6px;
    animation: bar_1_Move 3s linear infinite;
}

#bar2 {
    height: 380px;
    width: 128px;
    background-color: rgb(99, 140, 235);
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    margin-right: 6px;
    animation: bar_2_Move 3s linear infinite;

}

#bar3 {
    height: 228px;
    width: 128px;
    background-color: rgb(184, 55, 77);
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    margin-right: 6px;
    animation: bar_3_Move 3s linear infinite;

}




@keyframes bar_1_Move {
    0% {
        height: 304px;
    }

    10% {
        height: 228px;
    }

    20% {
        height: 152px;
    }

    30% {
        height: 76px;
    }

    40% {
        height: 0px;
    }

    50% {
        height: 76px;
    }

    60% {
        height: 152px;
    }

    70% {
        height: 228px;
    }

    80% {
        height: 304px;
    }

    90% {
        height: 380px;
    }

    100% {
        height: 304px;
    }
}

@keyframes bar_2_Move {
    0% {
        height: 380px;
    }

    10% {
        height: 304px;
    }

    20% {
        height: 228px;
    }

    30% {
        height: 152px;
    }

    40% {
        height: 76px;
    }

    50% {
        height: 0px;
    }

    60% {
        height: 76px;
    }

    70% {
        height: 152px;
    }

    80% {
        height: 228px;
    }

    90% {
        height: 304px;
    }

    100% {
        height: 380px;
    }
}

@keyframes bar_3_Move {
    0% {
        height: 228px;
    }

    10% {
        height: 152px;
    }

    20% {
        height: 76px;
    }

    30% {
        height: 0px;
    }

    40% {
        height: 76px;
    }

    50% {
        height: 152px;
    }

    60% {
        height: 228px;
    }

    70% {
        height: 304px;
    }

    80% {
        height: 380px;
    }

    90% {
        height: 304px;
    }

    100% {
        height: 228px;
    }
}