#about {
    border: 1px dashed darkgray;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
#TP2{
    height: 400px;
    width: 380px;
    background-color: aliceblue;
    position: absolute;
    margin: 7px;
    bottom: 0%;
    border-radius: 20px;
}